In [1]:
import tensorflow as tf
from tensorflow.python.client import device_lib

print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))
print(device_lib.list_local_devices())

print(tf.__version__)

Num GPUs Available:  1
[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 18325473303814470865
xla_global_id: -1
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 22385000448
locality {
  bus_id: 1
  links {
  }
}
incarnation: 227024091505045796
physical_device_desc: "device: 0, name: NVIDIA GeForce RTX 4090, pci bus id: 0000:01:00.0, compute capability: 8.9"
xla_global_id: 416903419
]
2.10.1

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import transformers 
from transformers import TFAutoModel, RobertaForSequenceClassification

C:\Users\ChangGeng\anaconda3\envs\tf\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

**BERTopic**

In [5]:
from bertopic import BERTopic
topic_model = BERTopic.load("MaartenGr/BERTopic_Wikipedia")
# topic_model.get_topic_info()
df = pd.DataFrame(topic_model.get_topic_info())
df.head(3)

,Topic,Count,Name,Representation,Representative_Docs
0,-1,633881,-1_cast_films_film_movie,"[cast, films, film, movie, 2020, comedy, relea...",NaN
1,0,18441,0_goalscorer_scored_goals_goal,"[goalscorer, scored, goals, goal, goalkeeper, ...",NaN
2,1,8518,1_khan_actor_raj_shah,"[khan, actor, raj, shah, crore, hai, actress, ...",NaN

In [6]:
selected_df = df[df['Representation'].apply(lambda x: any('math' in item for item in x))]
selected_df

,Topic,Count,Name,Representation,Representative_Docs
464,463,128,463_quantum_entanglement_entangled_decoherence,"[quantum, entanglement, entangled, decoherence...",NaN
1117,1116,66,1116_philosopher_philosophers_philosophy_philo...,"[philosopher, philosophers, philosophy, philos...",NaN
1136,1135,65,1135_mathematician_mathematicians_mathematics_...,"[mathematician, mathematicians, mathematics, a...",NaN
1263,1262,60,1262_modularity_mathematician_conjecture_mathe...,"[modularity, mathematician, conjecture, mathem...",NaN
1443,1442,53,1442_computing_analytical_mathematician_comput...,"[computing, analytical, mathematician, computa...",NaN
1600,1599,48,1599_ancient_mathematician_philosophers_philos...,"[ancient, mathematician, philosophers, philoso...",NaN
2033,2032,37,2032_mathematician_mathematicians_mathematics_...,"[mathematician, mathematicians, mathematics, p...",NaN
2100,2099,36,2099_mathematician_mathematicians_hardy_mathem...,"[mathematician, mathematicians, hardy, mathema...",NaN
2259,2258,32,2258_orbits_solutions_bodies_mathematical,"[orbits, solutions, bodies, mathematical, grav...",NaN
2289,2288,32,2288_ibn_al_theology_treatises,"[ibn, al, theology, treatises, ijtihad, treati...",NaN
2291,2290,32,2290_duo_app_mobile_android,"[duo, app, mobile, android, proficiency, educa...",NaN

**Mistral-7B-Instruct-v0.1**